/* style sheet */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}

main{
display: flex;
flex-wrap: wrap;
}

.main-header {
    font-size: 50px;
    background-color: blue;
    padding: 50px;
    text-align: center;

}

nav {
    background-color: #333;
    overflow: hidden;

}


nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


nav a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}


nav .active {
    background-color: #04AA6D;
    color: white;

}

#topnavgit {
    color: white;
    float: right;

}

#topnavgit:hover {

    background-color: #ddd;
    color: black;
    font-weight: bold;
}


.hero {
    display: block;
    margin: 50px auto;
    border: 5px black solid;
    width: 40%;
}

.pagewrapper {
    margin: 15px;
    background-color: green;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
}

.column {
    display: flex;
    flex: 1;
}

.blue-column {
    background-color: blue;
    height: 100px;
    text-decoration: underline;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 20px;


}

.green-column {
    background-color: green;
    padding-left: 20px;
    word-wrap: break-word;
}

.ten {
    width: 10%;
}

.ninety {
    width: 90%;
}

.ninety img:hover {
    opacity: .6;
    border: black solid 10px;
    padding: -10px;
}

footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    background-color: blue;
    padding: 50px;
    text-align: right;
    border-top: black solid 10px;
}

input[type=text],
select,
textarea {
    width: 80%;
    padding-right: 40%;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: text;
    float: left;
    margin: 12px 0;

}



.formrow::after {
    content: "";
    display: table;
    clear: both;
}

.formrow input {
    width: 200px;
    padding: 5px;
  }

input:focus {
    background-color: darkgreen;
    border: 3px solid goldenrod;
    outline: none;

}

.image-animation{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {
    body {
        display: inline-block;
        width: 100%;
        background-color: green;
    }

    main,
    nav {
      flex-direction: column;
      display: flex

    }

    #image-animation{
        width: 100%;
        height: auto;
    }


    .ten {
        width: 25%;

    }

    .ninety {
        width: 75%;

    }

}

@media screen and (max-width: 768px) {
    main {
        display: inline-block;
        width: auto;
        background-color: blue;
        flex-direction: column;
    }

    .ten {
        width: 25%;

    }

    .ninety {
        width: 75%;

    }

    #image-animation{
        display: inline-block;
        width: 100%;
        height: auto;
    }
}